img[src=""],
img:not([src]) {
    opacity: 0;
}

div{
    box-sizing: border-box;
}
.new-page{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 100%;
}